
#box {
	width: 98vw;
	height: 96vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

#container {
	background-color: #282832;
	height: 290px;
	width: 570px;
	border-radius: 10px;
}

#game {
	position: absolute;
	width: 270px;
	height: 270px;
	transform: translate(10px, 10px);
}

#menu {
	position: absolute;
	width: 270px;
	height: 270px;
	background-color: #383842;
	transform: translate(290px, 10px);
}

.tab-button {
	-webkit-appearance: none;
	width: 90px;
	height: 30px;
}
